body
{
	background-color: #33ff77;
}
.abc
{
	font-size: 20px;
	color: black;
	font-family:"times new roman";
	font-style: normal;
	text-align: justify;
}
.img1
{
	margin-left: 450px;
	height: 150px;
	width: 400px;
}
.form {
	font-size: 15px;
}
.img2 
{
	height: 50px;
	width: 50px;
}
.home
{
	margin-left: 53px;
	margin-top: -40px;
	font-size: 20px;
	color:black;
	font-family: "times new roman";
	font-weight: bold;
}
.phone
{
	margin-left: 53px;
	margin-top: -40px;
	font-size: 20px;
	color:black;
	font-family: "times new roman";
	font-weight: bold;
}
.email
{
	margin-left: 53px;
	margin-top: -40px;
	font-size: 20px;
	color:black;
	font-family: "times new roman";
	font-weight: bold;
}
.bottom
{
	position: relative;
	height:550px;
	width:1326px;
	border:1px solid black;
	border-radius: 5px;
	background-color: black;
	margin-left: -8px;
	font-family: "Arial";
	color: white;
	font-size: 20px;
	padding-left: 20px;
	padding-top: 40px;
}
.table1
{
	border:0px; 
	width:800px; 
	height:500px; 
	border-spacing:0; 
	border-color:red;
}
.top td
{
	color:red;
}
.bottom td a
{
	text-decoration: none;
	color: white;
}
.bottom td a:hover{color:blue;}
.table2 
{
	border:1px; 
	height:500px; 
	width:1px; 
	border-spacing:0; 
	border-color:white;
	margin-left: 820px; 
	margin-top: -500px;
}
.table3
{
	border:0px; 
	height:300px; 
	width:400px; 
	border-spacing:0; 
	border-color:white;
	margin-left: 860px; 
	margin-top: -520px;
}
.red
{
	color: red;
}
.blue
{
	color:blue;
}